@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}

body {
  color: white;
  background-color: black;
  height: 90vh;
  box-sizing: border-box;
}

h1 {
  font-family: "Krona One", sans-serif;
  font-size: 36px;
}

p {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.destaque-1 {
  color: #22d4fd;
}

/*header {
  text-align: center;
  height: 5vh;
  margin-bottom: 5%;
} */

/* main {
  height: 78vh;
} */

/* .container-titulo {
  display: flex;
  justify-content: center;
} */

/* .nome-site {
  padding: 3px 5px;
  width: max-content;
} */

.container-principal {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-principal {
  width: 615px;
}

/* .texto-bio {
  margin: 1%;
  margin-top: 10%;
} */

/* .conteudo-esquerda {
  display: flex;
  justify-content: center;
  width: 615px;
  box-sizing: border-box;
  flex-direction: column;
} */

/* .destaque-1 {
  color: #5ed3f3;
} */

.container-botoes {
  display: flex;
  justify-content: space-between;
}

.btn-social {
  background-color: #22d4fd;
  color: black;
  width: 280px;
  border-radius: 16px;
  font-size: 24px;
  padding: 21.5px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* 
.ancora-botao {
  text-decoration: none;
  padding: 2% 0%;
  border-style: none;
  border-radius: 5px;
  background-color: #5ed3f3;
  color: black;
  font-weight: bold;
} */

/* .conteudo-direita {
  display: flex;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  flex-wrap: wrap;
} */

/* footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 5vh;
} */
