body {
  font: 15px Roboto, sans-serif;
  color: #212116;
  background-color: #bee62e;
}

#content-box {
  margin-top: 25px;
  background-color: aliceblue;
  width: 55%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 10px 15px #5b5a105c;
}
